@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.ttf);
}


body {
    margin: 0;
    background-color: #fad33e;
    overflow: hidden;
}

#contenedor-fondo {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh; 
    overflow: hidden;
    display: flex; 
    align-items: flex-end; 
}

#fondo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

#circle {
    position: absolute;
    width: 8vw;
    bottom: 11vw;
    left: 66vw;
    z-index: 1;
    
}

.text {
    font-family: Lato;
    position: absolute;
    font-size: 5vw;
    left: 10vw;
    margin: 0;
    top: 3vh;
    color: #1D1E23;

}

#two {
    top: 18vh;
    font-size: 7vw;
    border: #1D1E23 solid 1.5px;
    border-radius: 300px;
    left: 5.5vw;
    padding: 0px 4vw 1vw 4vw;
}

#three {
    top: 40vh;
}


.iman {
    position: absolute;

    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

#magnet1,
#magnet2,
#magnet3 {
    display: flex;
    height: 10vw;
    position: relative; /* Ajusta la posición relativa para que los desplazamientos sean relativos a este contenedor */
}



#magnet2 {
    bottom: 9vw; /* Ajusta la posición de la segunda imagen */
}

#magnet3 {
    bottom: 18vw; /* Ajusta la posición de la tercera imagen */
}



@media (min-width: 1150px) {

    #fondo {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    } 
    #circle {
        bottom: 7vw;
        filter: invert(100%);
    }
}




